body{font-size:14px; font-family: 'Noto Sans', sans-serif; background: #f6f6f6;}
html{ scroll-behavior: smooth;}
span{display: block;}
.sliderHidden{overflow: hidden;}
::-webkit-scrollbar{width:20px;}
::-webkit-scrollbar-thumb{background: linear-gradient(transparent,#606060,#1e1e1e); border-radius: 15px;}
::-webkit-scrollbar-thumb:hover{background: linear-gradient(transparent,#606060,#1e1e1e,#161616);}
/*--------------------------------------------------------------------------------base*/
#main{width: 100%;}
.main-navBox{width: 100%; height: 80px;  background:rgba(0,0,0,0.6); position: absolute; top: 0; z-index: 9999; position: fixed; transition: 0.4s;}
.main-navBox.black{height: 50px;  background:rgba(0,0,0,1); }
.main-nav{width: 1245px; height: 100%; margin:0 auto; }
.main-nav img{float: left; width: 160px; margin-top: 6px; cursor: pointer; transition: 0.4s;}
.main-navBox.black img{width: 120px; margin-top: 0px;}
.main-nav ul li{float: right; padding:0 30px; font-size: 1.8em; color: #fff;  text-align: center; font-weight: bold; line-height: 80px; transition:0.4s;  }
.main-navBox.black ul li{font-size: 1.5em; line-height: 50px;}
.main-nav ul li a{color: #fff;  transition:0.4s; }
.main-nav ul li a:hover,
.navMenu.active{border-bottom: 3px solid orange; color: orange;}
.main-nav ul li:nth-child(1),
.main-nav ul li:nth-child(2){margin-right:0; font-size:1.3em; width: 50px; height: 45px; padding: 0px; border: 2px solid #fff; margin-top: 17px; line-height:45px;  cursor: pointer; }
.main-nav ul li:nth-child(2){margin-left:50px;}
.main-navBox.black ul li:nth-child(1),
.main-navBox.black ul li:nth-child(2){ font-size:1.1em; width: 40px; height:35px; margin-top: 5px; line-height:35px;}
.main-navBox.black ul li:nth-child(2){margin-left:120px;}
.main-nav ul li:nth-child(1):hover,
.main-nav ul li:nth-child(2):hover,
.languege.active{background:#fff; color: #000;}
.hamberger{display: none;}
.hamberger .fa-bars{color: #fff; font-size:3em; line-height: 80px; cursor: pointer;}

@media screen and (max-width:1000px){
    .languege{display: none; transition: 0s;}
    .main-nav.reponsive .languege{display: none;}
    .main-navBox img{width: 120px; float: none; margin: 0;}
    .main-nav ul{width: 100%; position: absolute; top: -800px; }
    .main-nav ul li{float: none; display: none;  transition: 0s;}
    .main-nav ul li a{transition: 0s;}
    .main-nav.reponsive ul{top: 50px; height: 500px; transition: 0.7s;}
    .main-nav.reponsive ul li{display: block; background:rgba(0,0,0,1);}
    .main-navBox.black .main-nav.reponsive ul{height: 500px;}
    .main-navBox.black .main-nav.reponsive ul li{background:rgba(0,0,0,1); height:80px; font-size: 2em;}
    .hamberger{display:inline-block; position:fixed; top: 3px; right: 30px;}
    .main-navBox{height: 50px; background:rgba(0,0,0,1);}
    .main-navBox.black{height: 50px; background:rgba(0,0,0,1);}
}
/*-----------------------------------------------------------------------------------main bener slider*/
.main-sliderWrap{ width: 100%; height: 1000px; position: relative; z-index:3333;}
.vaderimmortalBack {width: 100%;  height:1000px; background: url(../images/oculus-quest-black-friday.jpg); background-size: cover; background-position: center;}
.beatSaberBack {width: 100%;  height:1000px; background: url(../images/OculusQuest-BeatSaber.png); background-size: cover; background-position: center;}
.blackfridayBack {width: 100%;  height:1000px; background: url(../images/black-friday-2019-vr-deals_feature1.jpg); background-size: cover; background-position: center;}
.vrGamesBack {width: 100%;  height:1000px; background: url(../images/vr_games.jpg); background-size: cover; background-position: center;}
.main-sliderTextBox{position: absolute; top: 35%; left: 10%; color: #eeeeee; font-weight:bold;  text-shadow: 2px 2px 10px black; background:rgba(0,0,0,0.3); padding: 20px;}
.main-sliderTextBox h1{font-size:5em;}
.main-sliderTextBox p{font-size:1.4em;  margin-bottom: 10px;}
.main-sliderTextBox .fa-play-circle{font-size: 2.2em; color:#fff; margin-left: 35px; transition: 0.4s;}
.main-sliderTextBox .fa-play-circle:hover{color:orange;}
.nextBtn,
.prevBtn{width: 75px; height: 150px; position: absolute; top:300px; cursor: pointer; background: rgba(0,0,0,0.4); transition: 0.2s; z-index: 8888;}
.prevBtn{left:0;}
.nextBtn{right: 0;}
.nextBtn:hover,
.prevBtn:hover
{background: rgba(0,0,0,0.8); }
.nextBtn img:nth-child(1){width: 50px; height: 100px; position:absolute; top:25px; right: 0; animation:mainSliderGirdRight1 1s alternate infinite; background-position: center;} 
@keyframes mainSliderGirdRight1{
    to{right:10px;}
}
.nextBtn img:nth-child(2){width: 30px; height: 70px; position:absolute; top:40px; right: 25px; animation:mainSliderGirdRight2 1s .2s alternate infinite; background-position: center;}
@keyframes mainSliderGirdRight2{
    to{right: 35px;}
}
.prevBtn img:nth-child(1){width: 50px; height: 100px; position:absolute; top:25px;left: 0; animation:mainSliderGirdLeft1 1s alternate infinite; background-position: center;} 
@keyframes mainSliderGirdLeft1{
    to{left:10px;}
}
.prevBtn img:nth-child(2){width: 30px; height: 70px; position:absolute; top:40px; left: 25px;animation:mainSliderGirdLeft2 1s .2s alternate infinite; background-position: center;}
@keyframes mainSliderGirdLeft2{
    to{left: 35px;}
}
@media screen and (max-width:560px){
.main-sliderWrap{height: 720px;}
.vaderimmortalBack {height:720px;}
.beatSaberBack { height:720px;}
.blackfridayBack  {height:720px;}
.vrGamesBack{height: 720px;}
.main-sliderTextBox{top: 10%; right: 5%; left: 5%;}
.main-sliderTextBox h1{font-size: 4.5em; padding-bottom: 20px;}
.main-sliderTextBox p{font-size:1.8em;}
.nextBtn,.prevBtn{display: none;}
}
/*-----------------------------------------------------------------------------------main bener slider*/
/*---------------------------------------------------------------------------------------------------------main header/nav end*/

/*-------------------------------------------------------------------------------product article box start*/
.product-atricle-content{width: 1245px; height: 300px; position:absolute; top: 700px; left: 50%; transform: translate(-50%, 0); z-index:5555;}
.product-atricleBox{width: 100%; height: 100%;}
.oculus_quest{color:#fff; background-color:#585858;}
.oculus_rift {color:#eeeeee; background-color: #1c1e20;}
.oculus_go {color:#1c1e20; background-color: #eeeeee;}
.product-atricleBox ul li{float: left; width: 415px; height: 300px; position: relative; cursor: pointer;}
.product-atricleBox ul li h2{font-size: 1.6em; position:absolute; transition:0.7s; transform: translate(-50%, -50%); top: 85%; left: 50%; white-space: nowrap; }
.oculus_quest.active h2,.oculus_rift.active h2,.oculus_go.active h2{font-size:3em; top: 115%}
.product-atricleBox ul li:hover h2{transform:translate(-50%, -50%) scale(1.2); transform-origin: bottom; }
.product-atricleBox ul li img{width:55%; position:absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); }
.product-atricleBox ul li:nth-child(1) img{animation:quest_ani 1.5s alternate infinite cubic-bezier(0.39,-0.02, 0.62, 1.1);}
.product-atricleBox ul li:nth-child(2) img{animation:rift_ani 1.5s alternate infinite cubic-bezier(0.39,-0.02, 0.62, 1.1);}
.product-atricleBox ul li:nth-child(3) img{animation:go_ani 1.5s alternate infinite cubic-bezier(0.39,-0.02, 0.62, 1.1);}
@keyframes quest_ani{
    to{ transform:translate(-50%, -52%) skewX(-1deg) rotate(-2deg) scale(1.05);}
}
@keyframes rift_ani{
    to{transform:translate(-50%, -52%)  skewX(-1deg) rotate(-2deg) scale(1.05);}
}
@keyframes go_ani{
    to{transform:translate(-50%, -52%) skewX(-1deg) rotate(-2deg) scale(1.05);}
}

@media screen and (max-width:960px){
.product-atricle-content{width:100%; height: 300px; top: 700px;}
.product-atricleBox{width: 100%; height: 100%;}
.product-atricleBox ul li{width:33.33%; height: 300px;}
.product-atricleBox ul li h2{font-size: 1.5em; top: 85%;}
.product-atricleBox ul li img{width: 60%; position:absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); }
}
@media screen and (max-width:560px){
.product-atricle-content{height: 130px; top:590px;}
.product-atricleBox ul li{height: 130px;}
.product-atricleBox ul li h2{font-size: 1.1em;  top: 80%;}
.product-atricleBox ul li img{width: 60%; position:absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); }
.oculus_rift.active h2{font-size:3em; top: 133%}
.oculus_go.active h2{font-size:3em; top: 133%; left:-100%;}
.oculus_quest.active h2{font-size:3em; top: 133%; left: 150%;}
.sliderCloseBtn{display: none;}
}
/*-------------------------------------------------------------------------------product article box end*/

/*--------------------------------------------------------------------------------product slider*/
.oulusQuestBox,
.oulusRiftBox,
.oulusGoBox{width: 100%; height: 700px; background-color:#585858; transition:1.3s; position: absolute; top: 300px; overflow: hidden;  z-index:1000;} 
.oulusQuestBox.active,
.oulusRiftBox.active,
.oulusGoBox.active{top:1000px;}
.questSliderWrap,
.riftSliderWrap,
.goSliderWrap{width: 1245px; height: 100%; margin: 0 auto; position: relative;}
.questSliderText,
.riftSliderText,
.goSliderText{position: absolute; top: 200px; right:0;}
.oulusQuestBox h3,.oulusRiftBox h3,.oulusGoBox h3{font-size:1.6em;}
.oulusQuestBox h2,.oulusRiftBox h2,.oulusGoBox h2{font-size:3.2em;}
.oulusQuestBox p,.oulusRiftBox p,.oulusGoBox p{font-size:1.3em;}
.oulusQuestBox img,.oulusRiftBox img,.oulusGoBox img{width: 700px;}

/*--------slider close btn*/
.questSliderWrap,.riftSliderWrap,.goSliderWrap{position:relative;}
.questSliderWrap .fa-times-circle,
.riftSliderWrap .fa-times-circle,
.goSliderWrap .fa-times-circle{position: absolute; top: 30px; right:20px; color: #1c1e20; font-size:3.5em; cursor: pointer;  z-index: 9999;}
.questSliderWrap .fa-times-circle{color:#fff;}
.riftSliderWrap .fa-times-circle{color:#eee;}
/*--------slider close btn*/
.oulusQuestBox img{margin-top: 60px;}
.questSliderWrap ul li:nth-child(3) img{width: 850px;transform: translate(-150px, 0);}
.questSliderWrap ul li:nth-child(4) img{width: 1100px;}
.questSliderText h3{color: #eeeeee;}
.questSliderText h2{color: #fff;}
.questSliderText p{color: #eaeaea;}
.oulusRiftBox{background-color:#1c1e20;}
.riftSliderText h3{color: #ebebeb;}
.riftSliderText h2{color: #fff;}
.riftSliderText p{color:  #aaaaaa;}
.oulusGoBox{background-color:#eeeeee;}
.goSliderText h3{color: #585858;}
.goSliderText h2{color: #000;}
.goSliderText p{color:  #000;}

@media screen and (max-width:560px){
body{font-size:12px;}
.oulusQuestBox,
.oulusRiftBox,
.oulusGoBox{top:-100px; height: 750px;}
.oulusQuestBox.active,
.oulusRiftBox.active,
.oulusGoBox.active
{top:720px;}
.questSliderWrap,
.riftSliderWrap,
.goSliderWrap
{width: 100%; height:720px;}
.oulusQuestBox img,.oulusRiftBox img,.oulusGoBox img{width: 100%; min-height:350px; padding-top: 50px; padding-bottom:350px;}
.questSliderText,
.riftSliderText,
.goSliderText
{width: 90%; top: 400px; right:5%;}
}
/*--------------------------------------------------------------------------------product slider*/

.middle-atricle-content2{width: 1245px; height: 1335px; margin:0 auto; transition:1.3s;}
.middle-atricle-content2.active{margin-top: 780px;}
.middle-atricle-content2 > ul{}  
.middle-atricle-content2 > ul > li{float: left; width: 830px; height: 450px;  text-align: center; position: relative; }
.middle-atricle-content2 > ul > li:nth-child(1){height:  435px;}
.middle-atricle-content2 > ul > li:nth-child(2){width: 415px; height:  435px;}
.middle-atricle-content2 > ul > li:nth-child(3){width: 445px; height: 450px;}
.middle-atricle-content2 > ul > li:nth-child(4){width: 800px;}
.middle-atricle-content2 > ul > li:nth-child(4) video{width: 100%; height: 100%}
.middle-atricle-content2 > ul > li:nth-child(5){ background-color: gray;}
.middle-atricle-content2 > ul > li:nth-child(6){width: 415px;}

@media screen and (max-width:560px){
.middle-atricle-content2.active{margin-top: 750px;}
.middle-atricle-content2{width: 100%; height: 1750px; }
.middle-atricle-content2 > ul > li{width: 100%; height: 450px; }
.middle-atricle-content2 > ul > li:nth-child(1){width: 100%; height: 240px;}
.middle-atricle-content2 > ul > li:nth-child(2){width: 100%; height:  400px;}
.middle-atricle-content2 > ul > li:nth-child(3){width: 100%; border-top: 3px solid #585858;}
.middle-atricle-content2 > ul > li:nth-child(4){display: none;}
.middle-atricle-content2 > ul > li:nth-child(5){width: 100%; height: 250px;}
.middle-atricle-content2 > ul > li:nth-child(6){width: 100%;}
}

/*--------------------------------------------------card1*/
.developerSliderWrap{width: 100%; position: relative; cursor: pointer; z-index: 1;}
.developerHoverBox{width: 100%; height: 100%; background: rgba(0,0,0,0.3); display: none; position: absolute; top: 0; left: 0;}
.developerSliderWrap img{width: 100%;}
.developerSliderWrap:hover .developerHoverBox{display: block;}
.developerSliderWrap p{width: 80%; position: absolute; top: 100%; left: 50%; transform: translate(-50%, 0%); font-size:1.45em; color: #fff; font-weight:bold; transition: 0.5s;}
.developerSliderWrap ul li:nth-child(2):hover p{transform: translate(-50%, -200%);}
.developerSliderWrap ul li:nth-child(3):hover p{transform: translate(-50%, -200%);}

@media screen and (max-width:560px){
.developerSliderWrap img{width: 100%;  max-height: 250px;  min-height: 220px;}
}
/*--------------------------------------------------card1*/

/*--------------------------------------------------card2*/
.developerTextBox{width: 100%; padding: 30px; }
.developerTextBox h2{font-size:2.6em; color: #000; margin-bottom: 20px;}
.developerTextBox h3{font-size:1.7em; color:#1c1e20; margin-bottom: 5px; animation-delay:0.5s;}
.developerTextBox p{font-size:1.2em; color:#585858; margin-bottom: 20px;  animation-delay:1s;}
@media screen and (max-width:560px){
.developerTextBox{width: 90%; margin: 0 auto; padding: 20px 0 0;}
}
/*--------------------------------------------------card2*/

/*--------------------------------------------------card2*/
.unboxingBox{width: 100%; height: 100%; position: relative; }
.unboxingBox h2{font-size:2.2em; padding: 15px; }
.unboxingBox .fa-play-circle{font-size: 4em; margin-right: 180px; color:#585858; transition: 0.3s;}
.unboxingBox .fa-play-circle:hover{color:#000;}
.unboxingBox img{ width: 500px; position: absolute; bottom: 0; left: 0; transition: 0.6s; z-index: -1;}
.unboxingBox:hover img{transform: scale(1.1);}
@media screen and (max-width:560px){
.unboxingBox img{width: 400px; left:50px; }
}

/*--------------------------------------------------card3*/

/*--------------------------------------------------card5*/
.KpopSliderWrap{width: 100%; height: 100%; position: relative; }
.kpopHoverBox{width: 100%; height: 100%; background:rgba(0,0,0,0.3);position: absolute; top: 0; left: 0; display: none;}
.KpopSliderWrap:hover .kpopHoverBox{display: block;}
.kpopSlider .fa-play-circle{font-size:6em; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: rgba(255,255,255,0.7); cursor: pointer;}
.kpopSlider .fa-play-circle:hover{color: rgba(255,255,255,1);}
.kpopSlider img{width: 100%; height: 450px;}
@media screen and (max-width:560px){
    .kpopSlider img {width: 100%; max-height: 250px;}
    .kpopHoverBox{display:block;}
    .kpopSlider .fa-play-circle{font-size:5em; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); color: rgba(255,255,255,0.7);}
}
/*--------------------------------------------------card5*/

/*--------------------------------------------------card6*/
.questBuyBox{width: 100%; height: 100%; overflow: hidden; position: relative; text-align: center;}
.questBuyBox img{width: 850px; height: 450px; animation:questBuy_ani 18s alternate infinite cubic-bezier(0.29, -0.1, 0.6, 1);position: absolute; top: 0; left: -20px; z-index: -1;}
@keyframes questBuy_ani{
	to{left: -435px;}
}
.questBuyText{width: 250px; color: #fff; text-align: center; display: inline-block; padding-top: 50px;}
.questBuyText p{font-size:1.5em; margin-bottom: 20px; }
.questBuyText h3{font-size:1.8em; padding:8px 10px; border: 2px solid #fff; transition: 0.6s; cursor: pointer;}
.questBuyText h3:hover {color:#000; background: #fff;}
@media screen and (max-width:560px){
        .questBuyText{width: 80%; text-align: center; padding-top: 150px; }
        .questBuyText p{font-size:1.8em;}
        .questBuyText h3{background:rgba(0,0,0,0.7); border: 2px solid rgba(255,255,255,0.7); }
    @keyframes questBuy_ani{
        to{left: -300px;}
    }
}
/*--------------------------------------------------card6*/
/*------------------------------------------------------------------------------article content end*/

/*--------------------------------------------games card start */
.gamesBlackBox{width:100%; margin: 0 auto; height: 900px; background: black; position: relative; overflow: hidden; margin-top: 100px;}
.gamesBackBox{ width: 100%; height:100%; position:absolute; top: 0;left: 0; background:url(../images/oculus-quest-games.jpg); background-size: cover; transition: 1s;}
.gamesBlackBox:hover .gamesBackBox{opacity: 0.15;}
.gamesCardTextBox {color: #fff; text-align: center; position: absolute; top: 50px; left: 50%; transform:translate(-50%, 0); z-index: 999;}
.gamesCardTextBox h2{font-size: 3.5em; margin-bottom: 10px;}
.gamesCardTextBox h3{font-size: 1.6em;}
.gamesSliderWrap{width: 100%;  height: 650px;  position: absolute; top: 200px; left: 50%; transform:translate(-50%, 0);}
.oculusimagesBox{width: 100%; height: 650px; background-color:rgba(0,0,0,0.5); display: flex; justify-content: space-around;}
.oculusimagesBox:hover img{opacity: 0.4;}
.oculusimagesBox img{width:320px; height: 260px; transform:perspective(400px) rotateY(25deg); transition:all 0.4s; -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0004);cursor: pointer; margin-top: 50px;}
.oculusimagesBox img:hover{transform: rotateY(0deg) scale(1.3); width: 400px; height: 250px; opacity: 1; z-index: 100;}
.oculusimagesBox img:nth-child(1):hover ~ .gameText1,
.oculusimagesBox img:nth-child(2):hover ~ .gameText2,
.oculusimagesBox img:nth-child(3):hover ~ .gameText3,
.oculusimagesBox img:nth-child(4):hover ~ .gameText4,
.oculusimagesBox img:nth-child(5):hover ~ .gameText5,
.oculusimagesBox img:nth-child(6):hover ~ .gameText6{opacity:1}
.gameText1,
.gameText2,
.gameText3,
.gameText4,
.gameText5,
.gameText6{color: #fff; position: absolute; width: 950px; text-align: center; top: 75%; left: 50%; transform: translate(-50%, -50%); opacity: 0; transition: 0.7s; }
.gameText1 h3,
.gameText2 h3,
.gameText3 h3,
.gameText4 h3,
.gameText5 h3,
.gameText6 h3{font-size: 2.2em;margin-bottom: 10px;}
.gameText1 p,
.gameText2 p,
.gameText3 p,
.gameText4 p,
.gameText5 p,
.gameText6 p{font-size: 1.1em; margin-bottom: 10px;}
.gameGuide p{font-size: 1em;}
.GamePrice{display: inline-block; margin: 5px;}
.GamePrice p{width: 130px; height: 30px; line-height: 30px; border: 1px solid skyblue;}
@media screen and (max-width:560px){
       .gamesBlackBox{display: none;}
    }
/*--------------------------------------------games card end*/
.newArsgardBox{width: 1245px; height: 400px; margin:0 auto; overflow: hidden;  margin-top: 100px; background: url(../images/newnew.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;
display: flex; justify-content:space-around; align-items: center;}
.arsgardLogoBox{padding-right: 320px; padding-bottom: 230px;}
.arsgardLogoBox img{width: 200px;}
.newArsgardTextbox{width: 500px; height: 300px; color: #eee; padding-left: 50px;}
.newArsgardTextbox h3{font-size: 2em; padding-bottom: 40px;}
.newArsgardTextbox p{font-size: 1.4em; padding-bottom: 20px; padding-top: 20px;}
.buyBtn{display: inline-block; }
.buyBtn a{padding: 10px 25px; border: 1px solid #0c68ff; font-size: 1.3em; font-weight: bold; background-color: #0c68ff; color: #fff; border-radius: 8px;}
.buyBtn a:hover{background: #148aff;}
.newArsgardTextbox >a:last-child{font-size: 1.6em; color: #eee; padding-left: 20px;}
.newArsgardTextbox >a:last-child:hover{color: #0c68ff; }
@media screen and (max-width:560px){
       .newArsgardBox{width: 100%; flex-wrap: wrap;}
       .arsgardLogoBox{padding-right: 0; padding-bottom: 0; display: block; padding-top: 20px;}
       .newArsgardTextbox{padding: 20px; margin: 0 auto;}
       .newArsgardTextbox >a:last-child{font-size: 1.6em; }
}
/*-----------------------------------------------------------------newArsgardBox end*/
.productChoiceBoxWrap{width: 1245px; height: 500px; margin: 0 auto; margin-top: 100px;}
.productChoiceBoxWrap ul li{float: left; width: 33.33%; height:500px; overflow: hidden; position: relative;}
.productChoiceBoxWrap ul li:nth-child(1){}
.productChoiceBoxWrap ul li:nth-child(1){}
.productChoiceBoxWrap ul li:nth-child(1){}
.productChoiceBox {width: 100%; height: 100%;}
.productChoiceBox img{width: 100%; height: 100%; transition: 0.8s; }
.productChoiceBoxWrap ul li:nth-child(1):hover img,
.productChoiceBoxWrap ul li:nth-child(2):hover img,
.productChoiceBoxWrap ul li:nth-child(3):hover img
{transform: scale(1.1);}
.productTextBox{width: 380px; margin-left: 20px; position: absolute; bottom: 20px; text-align: left;  text-shadow: 2px 2px 10px #000;}
.productTextBox h2{font-size: 1em; color: #eee;}
.productTextBox h3{font-size:2em; color: #fff; margin-bottom: 5px;}
.productTextBox .fa-play-circle{color: #fff; font-size:2em; transition: 0.3s;}
.productTextBox .fa-play-circle:hover{color: orange;}
@media screen and (max-width:560px){
       .productChoiceBoxWrap{width: 100%; height: 1500px; margin-top: 50px;}
       .productChoiceBoxWrap ul li{width: 100%;}
       .productTextBox{width: 90%;}
       .productTextBox h2{font-size: 1.5em; }
        .productTextBox h3{font-size:2.5em; }
        .productTextBox .fa-play-circle{font-size:5em; }
}
/*-----------------------------------------------------------------productChoiceBox end*/
.zurkerberg_productContent_Box{width:1245px; height: 680px; margin:0 auto; overflow: hidden; background: #090a0c; position: relative;}
.zurkerberg_productContent_Box img{position: absolute;}
.zurkerberg_product_HoverBox img{width: 100%; top: 0; left: -100%; transition: 1.2s;}
.zurkerberg_productContent_Box.active .zurkerberg_product_HoverBox img{left: 0;}
.zurkerberg_bottom_Box img{width: 100%; height: 220px; bottom: 0; left: 0;}
.zurkerberg_questText,.zurkerberg_riftText,.zurkerberg_goText
{font-size: 1.3em; bottom: 140px; color: #eee; z-index: 1; position: absolute; opacity: 0; cursor: pointer; animation-fill-mode: forwards; text-align: center;}
.zurkerberg_questText{left: 130px;  animation-delay: 1s;}
.zurkerberg_riftText{left: 550px;  animation-delay: 1.4s;}
.zurkerberg_goText{right: 130px;  animation-delay: 1.8s;}
.zurkerberg_questText h2,.zurkerberg_riftText h2,.zurkerberg_goText h2{transition: 0.3s; margin-bottom: 5px;}
.zurkerberg_questText:hover h2{color: #ffc897; transform: scale(1.1);}
.zurkerberg_riftText:hover h2{color: #f96496; transform: scale(1.1);}
.zurkerberg_goText:hover h2{color: #37c6ff; transform: scale(1.1);}
.zurkerberg_productContent_Box .fa-play-circle{font-size: 1.5em; color: #eee; transition: 0.3s;}
.zurkerberg_questText:hover .fa-play-circle{color: #ffc897; transform: scale(1.1);}
.zurkerberg_riftText:hover .fa-play-circle{color: #f96496; transform: scale(1.1);}
.zurkerberg_goText:hover .fa-play-circle{color: #37c6ff; transform: scale(1.1);}
.zurkerberg_guideText{position: absolute; width:90%; bottom: 400px; left: 51%; transform: translate(-50%, 0);cursor: pointer; transition:1s;  z-index: 9999;}
.zurkerberg_guideText h3{margin-bottom: 10px;  font-size:3em; transition: 1s;}
.zurkerberg_productContent_Box.active .zurkerberg_guideText{bottom: 50px; left: 90%; transform: translate(-50% 0);}
.zurkerberg_productContent_Box.active .zurkerberg_guideText h3{font-size:1.8em;}
.zurkerberg_guideText a{color: #eee;}
.zurkerberg_guideText h3:hover{color: orange;}
@media screen and (max-width:560px){
      .zurkerberg_productContent_Box{display: none;}
}
/*-----------------------------------------------------------------zurkerberg_productContent_Box end*/
.newsBox{width: 1245px; height: 450px; margin:0 auto; margin-top: 100px; border:3px solid #585858; box-sizing: border-box;}
.newsBox ul{height: 450px;}
.newsBox ul li{width: 100%; height:350px;  float: left; overflow: hidden; position: relative;  }
.newsBox ul li:nth-child(1){width: 100%; height: 100px;}
.newsBox ul li:nth-child(2){width: 40%;}
.newsBox ul li:nth-child(3){width: 60%;}
.newsTextBox{width: 100%; height: 100%; text-align: center;}
.newsTextBox h3{font-size:3em; padding:20px;}

@media screen and (max-width:560px){
      .newsBox{width: 100%;margin-top: 50px;}
      .newsBox ul li{width: 100%;}
      .newsBox ul li:nth-child(2){width: 100%;}
        .newsBox ul li:nth-child(3){width: 100%;}
.newsTextBox h3{font-size:2em; padding:30px; }
}
/*======================================================*/
.zuckerberg_handtrakingWrap{width: 100%; height: 100%;}
.handtrakingHoverBox{width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(0,0,0,0.3); opacity: 0; z-index: 1; transition: 0.6s;}
.zuckerberg_handtrakingWrap:hover .handtrakingHoverBox{opacity: 1;}
.zuckerberg_handtrakingWrap img{width: 100%; height:100%; transition: 1.2s;}
.zuckerberg_handtrakingWrap:hover img{transform: scale(2) translate(130px, -55px)}
.zuckerberg_handtrakingWrap p{width: 400px; position: absolute; color: #eee; font-size: 1.3em; bottom: -100px; left: 50%; transform:translate(-50%, 0); transition: 1s; z-index:1; }
.zuckerberg_handtrakingWrap:hover p{bottom: 80px;}
.zuckerberg_handtrakingWrap a{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 6em; color:rgba(255,255,255,0.7); z-index: 1; }
.zuckerberg_handtrakingWrap a:hover{color:#eee;}
@media screen and (max-width:560px){
    .zuckerberg_handtrakingWrap img{width: 550px;}
    .handtrakingHoverBox{display: block;}
    .zuckerberg_handtrakingWrap p{top: 30px; width: 90%; font-size: 1.6em;}
    .zuckerberg_handtrakingWrap:hover p{top: 10px;}
    .zuckerberg_handtrakingWrap a{ font-size: 6em;}
    }
}
.netflixBox{width: 100%; height: 100%; }
.netflixBack img{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.netflixText{position: absolute; top: 40%; left: 50%; transform:translate(-50%, 0); z-index: 1; transition: 1s;cursor: pointer;}
.netflixText img{width: 200px;}
.netflixBox:hover .netflixText{transform: scale(1.4) translate(-33%, 0) ; top: 37%;}
.netflixBox p{width: 100%; width:400px; position: absolute; top: 60%; left: 52%; transform: translate(-50%, -50%); color: rgba(255,255,255,0.7); z-index: 1; cursor: pointer; font-size: 1.2em;}
.netflixBox:hover p{color: #eee;}
@media screen and (max-width:560px){
    .netflixBack img{min-height:460px;}
    .netflixBox p{font-size: 1.5em; left: 63%;}
    .netflixBox:hover .netflixText{transform: scale(1) translate(-50%, 0) ; top: 37%;}
}
/*-------------------------------------------------------------------footer*/
#footerQuestBack{width: 100%; height: 1000px;  z-index: -1; overflow: hidden; background: url(../images/footerquest.jpg); background-size: cover; background-repeat: no-repeat;  background-position: center; transform: translate(0, -35%); position: absolute;}
.footerBox{width: 100%; height: 550px; margin-top: 400px;}
.footerTextBox{width: 100%; height: 150px;  border-top: 1px solid #585858; background: #f6f6f6;}
.footerText1,.footerText2{width: 1245px; margin: 0 auto; padding: 20px;}
.footerText2{border-top: 1px solid #585858;}
.lastFooterWrap{width: 100%; height: 400px; background: #1c1e20;}
.lastFooterWrap h3{color: #eee; font-size: 8em; text-align: center; line-height: 400px;}
.lastFooter{width: 1260px; margin: 0 auto;}
.footerLeftText{float: left; margin-top: 20px; width: 75%;}
.footerLeftText img{width: 150px;}
.footerLeftText a{color: #aaa; transition: 0.3s ease;}
.snsList p,
.footerLeftText p{display: inline-block; margin-bottom: 10px; color: #fff;}
.footerLeftText a:hover{color: orange;}
.footerLeftText ul li{float: left; width: 230px;}
.footerRightText{float: right; width: 25%; margin-top: 60px;}
.footerRightText a{color: #fff; font-size: 2.4rem; transition:0.3s ease;}
.footerRightText a:hover{color: orange; }
.snsList ul li{float:left; margin-right:25px;}
.emailWrap{margin-top: 20px;}
.email input{ width: 100%; background: transparent; border: skyblue solid 1px; border-radius: 0; font-size: 18px; font-weight: bold; padding: 15px 10px 15px 10px; color: #d2d2d2;}
.check input{ -webkit-appearance: checkbox; cursor: pointer; display: block; height: 16px; margin-top: 10px; margin-left: 0; vertical-align: middle; width: 16px; box-sizing: border-box; padding: 0;}
.checkText{color: #fff; margin-top: 20px;}
.checkText a{font-size: 1rem; color: skyblue;}
@media screen and (max-width:560px){
    #footerQuestBack{display: none;}
    .footerBox{margin-top: 430px;}
    .footerTextBox{width: 100%;}
    .footerText1,
    .footerText2{width: 90%; padding: 20px; }
    .footerText2 p{padding: 0;}
    .lastFooterWrap{height: auto;}
    .lastFooter{width: 100%;}
    .footerLeftText{width: 100%;}
    .footerLeftText > ul > li{width:50%; height: 200px;}
    .footerLeftText > ul > li:nth-child(3),
    .footerLeftText > ul > li:nth-child(4){height: 150px;}
    .footerLeftText > ul > li p{padding-left: 20px;}
    .footerLeftText > ul > li > ul{padding-left: 20px;}
    .footerRightText{float: none; width: 100%;}
    .snsList{padding-left: 20px;}
    .email input{width: 70%; margin-left: 20px;}
    .check input{padding-left: 20px; width: 50px; float: left;}
    .checkText{width: 70%; float: right; margin-right: 50px; margin-bottom: 50px;}
 }
/*------------------------------------------------------------------footer*/
/*-------------------BxSlider */
.bx-wrapper { -moz-box-shadow: none; -webkit-box-shadow:none;  box-shadow: none; border: none; background: none;}
.bx-wrapper .bx-pager.bx-default-pager a { border:3px solid #fff; background:transparent; text-indent: -9999px; display: block; width: 20px; height: 20px; margin: 0 5px; outline: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 50%;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {background: #fff;}
.KpopSliderWrap .bx-wrapper .bx-pager.bx-default-pager a:hover,
.KpopSliderWrap .bx-wrapper .bx-pager.bx-default-pager a.active,
.KpopSliderWrap .bx-wrapper .bx-pager.bx-default-pager a:focus {background:#ff9ae7;}
.goSliderWrap .bx-wrapper .bx-pager.bx-default-pager a:hover,
.goSliderWrap .bx-wrapper .bx-pager.bx-default-pager a.active,
.goSliderWrap .bx-wrapper .bx-pager.bx-default-pager a:focus {background: #585858;}
.goSliderWrap .bx-wrapper .bx-pager.bx-default-pager a {border:3px solid #585858;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: 320px; width: 100%; z-index: 9999;}
.riftSliderWrap .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {position: absolute;bottom: 70px;width: 100%;}
.goSliderWrap .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: 70px; width: 100%;}
.questSliderWrap .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: 70px; width: 100%;}
.developerSliderWrap .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: 30px; width: 100%;}
.gamesSliderWrap .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: -35px; width: 100%;}
.KpopSliderWrap .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: 30px; width: 100%;}
@media screen and (max-width: 560px){
    .main-sliderWrap .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: 150px; width: 100%;}
    .bx-wrapper .bx-pager.bx-default-pager a { width: 30px; height: 30px; margin: 0 10px;}
    .riftSliderWrap .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {bottom: 10px;}
    .goSliderWrap .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {bottom: 10px;}
    .questSliderWrap .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {bottom: 10px;}
}
